body {
	font-size: 100%;
	background-color: #fff;
	margin: 2em;
}

.box {
	width: 10em;
	height: 10em;
	background-color: #dfe39f;
	margin: 1em 0;
	border: .125em solid #c6ce55;
}

.happy {
	
}

.sad {
	
}

.calm {
	
}

.sneaky {
	
}

.rushed {
	
}

@keyframes slide-basic {
	0% {
		transform: translateX(0);
	}
	
	100% {
		transform: translate(40em);
	}
}

@keyframes slide-happy {
	0% {
		transform: translateX(0);
	}
	
	100% {
		transform: translate(0);
	}
}

@keyframes slide-sad {
	0% {
		transform: translateX(0);
	}
	
	100% {
		transform: translate(0);
	}
}

@keyframes slide-calm {
	0% {
		transform: translateX(0);
	}
	
	100% {
		transform: translate(0);
	}
}

@keyframes slide-sneaky {
	0% {
		transform: translateX(0);
	}
	
	100% {
		transform: translate(0);
	}
}

@keyframes slide-rushed {
	0% {
		transform: translateX(0);
	}
	
	100% {
		transform: translate(0);
	}
}