@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i';

body {
	font-size: 150%;
	font-family: "Open Sans", Verdana, Helvetica, sans-serif;
	font-weight: 400;
	background-color: #fff;
	padding: 5%;
	margin: 0;
}

nav {
	width: 60%;
	text-align: center;
  background-color: #ffffff;
	padding: 2em;
	margin: 10% auto;
	overflow: auto;
}

.button:link,
.button:visited{
	display: inline-block;
	font-size: 1.5em;
	font-weight: 700;
	text-decoration: none;
	color: #ffffff;
	background-color: hsla(330, 100%, 68%, 1);
	border: .125em solid hsla(330, 100%, 60%, 1);
	border-radius: 1em;
	margin 1em auto;
	padding: 1em;
}

.button:hover {
	background-color: hsla(330, 100%, 80%, 1);
	border-color: hsla(330, 100%, 68%, 1);
	transform: translate(-.0625em, -.125em);
	box-shadow: .0625em .125em .25em hsla(330, 8%, 56%, 1);
}

.button:active {
	background-color: hsla(330, 100%, 50%, 1);
	border-color: hsla(330, 100%, 68%, 1);
	transform: translate(0, 0);
	box-shadow: inset .0625em .125em .25em hsla(330, 100%, 45%, 1);
}